.BlogPost .remark li{
    border: none;
    color:#E3E3E3;
}

.BlogPost .remark p{
    color:#E3E3E3;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.BlogPost .remark h1{
    font-size: 30px;
}
.BlogPost .remark h2{
    font-size: 24px;
    text-align: left;
}

.BlogPost .post-tags{
    background-color: yellow;
    margin-right: 20px;
}

.BlogPost{
    width: 70%;
}


.blog-post-container{
    display: flex;
    justify-content: center;
    align-items: center;
}