.BlogPost .remark li{
    border: none;
    color:#E3E3E3;
    line-height: 2rem;
}

.BlogPost .remark a{
    color:#5F97F6;
}

.BlogPost .remark strong{
    color:#81CA95;
}

.BlogPost .remark p{
    color:#E3E3E3;
    font-weight: 300;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    font-size: 1.2em;
    line-height: 2rem;
}

.BlogPost .remark h1{
    font-size: 30px;
}
.BlogPost .remark h2{
    font-size: 30px;
    text-align: left;
}

.BlogPost .post-tags{
    background-color: yellow;
    margin-right: 20px;
}

.BlogPost{
    width: 70%;
}




.blog-post-container{
    display: flex;
    justify-content: center;
    align-items: center;
}