.Blog ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Blog #post-description{
    color:#E3E3E3;
    font-weight: 400;
}

.Blog .post-link{
    color:#89B4F8;
    font-weight: 700;
}

.Blog li{
    list-style: none;
    border-top: 1px solid rgb(124, 124, 124);
    width: 80%;
    padding: 80px 40px;
}


.Blog #post-title{
    font-size: 32px;
    margin-bottom: 80px;
    text-align: left;
}


.Blog #post-tags{
    color: whitesmoke;
    border-radius: 8px;
    padding: 7px 40px;
    background: linear-gradient(-45deg, #e73c7e, #5F97F6, #81CA95);
	background-size: 400% 400%;
	animation: gradient 10s ease-in infinite;
    width: fit-content;
    margin-right: 10px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.Blog .div-tags-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.Blog .post-card{
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    padding: 25px;
}





