ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}



li{
    list-style: none;
    border-top: 1px solid rgb(124, 124, 124);
    width: 80%;
    padding: 80px 40px;
}


#post-title{
    font-size: 32px;
}


#post-tags{
    border-radius: 10px;
    background-color: yellow;
    width: fit-content;
}








.remark li{
    border: none;
}

.remark h1{
    font-size: 36px;
}

.remark{
    border: 1px solid black;
}