.Blog ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Blog #post-description{
    color:#E3E3E3;
    font-weight: 400;
}

.Blog .post-link{
    color:#89B4F8;
    font-weight: 700;
}

.Blog li{
    list-style: none;
    border-top: 1px solid rgb(124, 124, 124);
    width: 80%;
    padding: 80px 40px;
}


.Blog #post-title{
    font-size: 32px;
}


.Blog #post-tags{
    border-radius: 10px;
    padding: 0 10px;
    background-color: yellow;
    width: fit-content;
}








